{% extends 'admin/master.html' %}
{% load humanize %}
{% block title %} Detail member{% endblock title %}

{% load static %}
{% block stylesheet %}
	{{ block.super }}
	<link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="page-title">
        <div class="title_left">
          <h3> {{member.firstname}} {{member.lastname}}<small> member of nganu</small></h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12">
	      <div class="col-md-6">
	      	<div class="col-md-3">
		    	<div class="x_panel">
		    		<img src="{% static '/admin/images/user.png' %}" alt="..." class="img-circle profile_img">
		    	</div>
		    </div>
		    <div class="col-md-9">
		        <div class="x_panel">
		          <div class="row">
		          	<div class="col-md-4">
		          	  <p>E-Mail</p>	
		          	</div>
		          	<div class="col-md-8">
		          	  <p>: {{member.email}}</p>
		          	</div>
		          </div>
		          <div class="row">
		          	<div class="col-md-4">
		          	  <p>Account ID</p>	
		          	</div>
		          	<div class="col-md-8">
		          	  <p>: {{member.account_id}}</p>
		          	</div>
		          </div>
		          <div class="row">
		          	<div class="col-md-4">
		          	  <p>Birth of Date</p>	
		          	</div>
		          	<div class="col-md-8">
		          	  <p>: {{member.birthdate}}</p>
		          	</div>
		          </div>
		          <div class="row">
		          	<div class="col-md-4">
		          	  <p>Gender</p>	
		          	</div>
		          	<div class="col-md-8">
		          	  <p>: {{member.gender}}</p>
		          	</div>
		          </div>
		          <div class="row">
		          	<div class="col-md-4">
		          	  <p>Mobile Number</p>	
		          	</div>
		          	<div class="col-md-8">
		          	  <p>: {{member.mobile}}</p>
		          	</div>
		          </div>
		        </div>
		    </div>    
	      </div>  
	      <div class="col-md-6">
	        <div class="x_panel">
	          <div class="row">
	          	<div class="col-md-2">
	          	  <p>Address</p>	
	          	</div>
	          	<div class="col-md-10">
	          	  <p>: {{member.address}}</p>
	          	</div>
	          </div>
	          <div class="row">
	          	<div class="col-md-2">
	          	  <p>City</p>	
	          	</div>
	          	<div class="col-md-10">
	          	  <p>: {{member.city}}</p>
	          	</div>
	          </div>
	          <div class="row">
	          	<div class="col-md-2">
	          	  <p>Zip Code</p>	
	          	</div>
	          	<div class="col-md-10">
	          	  <p>: {{member.zip_code}}</p>
	          	</div>
	          </div>
	          <div class="row">
	          	<div class="col-md-2">
	          	  <p>Pin Code</p>	
	          	</div>
	          	<div class="col-md-10">
	          	  <p>: {{member.pincode}}</p>
	          	</div>
	          </div>
	          <div class="row">
	          	<div class="col-md-2">
	          	  <p>Created By</p>	
	          	</div>
	          	<div class="col-md-10">
	          	  <p>: {{member.created_by}}</p>
	          	</div>
	          </div>	          	          	          
	        </div>

	      </div>  	          	
      </div>

    <hr>
	 <div class="x_content">
      <p class="text-muted font-13 m-b-30">
        DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
      </p>
      <table id="datatable" class="table table-striped table-bordered">
        <thead>
          <tr>            
            <th>Start Balance</th>
            <th>Debit</th>
            <th>End Balance</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          {% for sv in savmember %}
          <tr>            
            <td>{{sv.start_balance}}</td>
            <td>{{sv.debit}}</td>
            <td>{{sv.end_balance}}</td>
            <td>{{sv.saving_date}}</td>
            <td><a href=""><i class="fa fa-edit"></i> </a> | <a href=""><i class="fa fa-trash"></i> </a></td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}