 <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_firstname">Firstname:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="text" name="firstname" required="" id="id_firstname" value="{{member }}"><br>              
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_lastname">Lastname:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="text" name="lastname" required="" id="id_lastname" value="{{member.lastname}}"><br>              
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_photo">Photo:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="file" name="photo" id="id_photo" accept="{{member.photo}}"><br>
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_email">Email:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="email" name="email" required="" id="id_email" value="{{member.email}}"><br>   
              </div>
            </div>
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_account_id">Account id:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="text" name="account_id" required="" id="id_account_id" value="{{member.account_id}}"><br>         
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_birthdate">Birthdate:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="text" name="birthdate" required="" id="id_birthdate" value="{{member.birthdate}}"><br>       
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_gender">Gender:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <select name="gender" id="id_gender">
                  <option value="female">Female</option>
                  <option value="male">Male</option>
                </select><br>
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_mobile">Mobile:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="number" name="mobile" id="id_mobile" value="{{member.mobile}}"><br>       
                <small style="color: grey;">Number only i.e 0123456789</small>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_address">Address:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <textarea name="address" cols="40" rows="10" id="id_address">{{member.address}}</textarea><br>   
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_city">City:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="text" name="city" required="" id="id_city" value="{{member.city}}"><br>
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_zip_code">Zip code:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="number" name="zip_code" id="id_zip_code" value="{{member.zip_code}}"><br>
                <small style="color: grey;">Number only i.e 52273</small>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_pincode">Pin Code:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="text" name="pincode" id="id_pincode" value="{{member.pincode}}"><br>
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_signature">Signature:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="file" name="signature" id="id_signature" accept="{{member.signature}}"><br>
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_is_active">Is active:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="checkbox" name="is_active" id="id_is_active" checked="{{member.is_active}}"><br>          
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_status">Status:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <select name="status" id="id_status" selected="{{member.status}}">
                  <option value="UnAssigned">unassgined</option>
                  <option value="Assigned">assigned</option>
                </select><br>   
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_created_by">Created by:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <select name="created_by" required="" id="id_created_by">
                  <option value="" selected="">---------</option>
                  <option value="1">handoko</option>
                </select><br>  
              </div>
            </div>              




<form class="form-horizontal form-label-left" method="POST"><input type="hidden" name="csrfmiddlewaretoken" value="YJki0lP0GN1J7HYHRmBxETBth8Jue5Cth6ei6tAj7KGc0mp1dF73GtwYcbrGw63Y">
            
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_firstname">Firstname:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="text" name="firstname" required="" id="id_firstname"><br>

                
              
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_lastname">Lastname:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="text" name="lastname" required="" id="id_lastname"><br>

                
              
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_photo">Photo:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="file" name="photo" id="id_photo"><br>

                
              
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_email">Email:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="email" name="email" required="" id="id_email"><br>

                
              
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_account_id">Account id:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="text" name="account_id" required="" id="id_account_id"><br>

                
              
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_birthdate">Birthdate:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="text" name="birthdate" required="" id="id_birthdate"><br>

                
              
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_gender">Gender:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <select name="gender" id="id_gender">
  <option value="female">Female</option>

  <option value="male">Male</option>

</select><br>

                
              
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_mobile">Mobile:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="number" name="mobile" id="id_mobile"><br>

                
                <small style="color: grey;">Number only i.e 0123456789</small>
              
              
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_address">Address:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <textarea name="address" cols="40" rows="10" id="id_address"></textarea><br>

                
              
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_city">City:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="text" name="city" required="" id="id_city"><br>

                
              
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_zip_code">Zip code:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="number" name="zip_code" id="id_zip_code"><br>

                
                <small style="color: grey;">Number only i.e 52273</small>
              
              
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_pincode">Pin Code:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="text" name="pincode" id="id_pincode"><br>

                
              
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_signature">Signature:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="file" name="signature" id="id_signature"><br>

                
              
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_is_active">Is active:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="checkbox" name="is_active" id="id_is_active" checked=""><br>

                
              
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_status">Status:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <select name="status" id="id_status">
  <option value="UnAssigned">unassgined</option>

  <option value="Assigned">assigned</option>

</select><br>

                
              
              </div>
            </div>              
            
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                <label for="id_created_by">Created by:</label><br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <select name="created_by" required="" id="id_created_by">
  <option value="" selected="">---------</option>

  <option value="1">handoko</option>

</select><br>

                
              
              </div>
            </div>              
            
            <hr>
            <div class="row">
              <div class="control-label col-md-2 col-sm-2 col-xs-12"></div>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="submit" class="btn btn-primary" name="submit" value="Submit">
                <input type="reset" class="btn btn-primary" name="cancel" value="Cancel">                
              </div>
            </div>
          
        </form>



<div class="row">
  <div class="col-sm-5">
    <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">
    Showing 1 to 10 of 57 entries
   </div>
  </div>
  <div class="col-sm-7">
    <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
      <ul class="pagination">
        <li class="paginate_button previous disabled" id="datatable_previous">
          <a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0">Previous</a>
        </li>
        <li class="paginate_button active">
          <a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0">1</a>
        </li>
        <li class="paginate_button ">
          <a href="#" aria-controls="datatable" data-dt-idx="2" tabindex="0">2</a>
        </li>
        <li class="paginate_button ">
          <a href="#" aria-controls="datatable" data-dt-idx="3" tabindex="0">3</a>
        </li>
        <li class="paginate_button ">
          <a href="#" aria-controls="datatable" data-dt-idx="4" tabindex="0">4</a>
        </li>
        <li class="paginate_button ">
          <a href="#" aria-controls="datatable" data-dt-idx="5" tabindex="0">5</a>
        </li>
        <li class="paginate_button ">
          <a href="#" aria-controls="datatable" data-dt-idx="6" tabindex="0">6</a>
        </li>
        <li class="paginate_button next" id="datatable_next">
          <a href="#" aria-controls="datatable" data-dt-idx="7" tabindex="0">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>

                  {% if member.has_previous %}
                  <ul class="pagination">
                    {% if mb.has_previous %}
                      <li><a href="?page={{mb.previous_page_number}}"> &laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in mb.paginator.page_range %}
                      {% if mb.number == i %}
                        <li class=""><span>{{i}} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?page={{i}}" aria-controls="datatable" data-dt-idx="0" tabindex="0">{{i}}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if mb.has_next %}
                      <li><a href="?page={{mb.next_page_number}}" aria-controls="datatable" data-dt-idx="0" tabindex="0">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
                  {% endif %}