{% extends 'admin/master.html' %}
{% load humanize %}
{% block title %} Edit member {{member.firstname}}{% endblock title %}

{% block stylesheet %}
	{{ block.super }}

{% endblock stylesheet %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Member's <small>edit {{member.firstname}}</small></h3>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="x-content">
      	<br />

        <form class="form-horizontal form-label-left" method="POST">{% csrf_token %}
            {% for hidden in form.hidden_fields %}
              {{hidden}}
            {% endfor %}
            {% for field in form.visible_fields %}
            <div class="form-group">
              <label class="control-label col-md-2 col-sm-2 col-xs-12">
                {{field.label_tag}}<br>
              </label>
              <div class="col-md-10 col-sm-10 col-xs-12">
                {{field}}<br>

                {% if field.help_text %}
                <small style="color: grey;">{{field.help_text}}</small>
              {% endif %}
              {% for error in field.errors %}
                <small style="color: red;">{{error}}</small> 
              {% endfor %}
              </div>
            </div>              
            {% endfor %}
          
            <hr>
            <div class="row">
              <div class="control-label col-md-2 col-sm-2 col-xs-12"></div>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="submit" class="btn btn-primary" name="submit" value="Submit">
      
              </div>
            </div>
          
        </form>
      </div>
    </div>
</div>

{% endblock content %}

