{% extends 'admin/master.html' %}
{% block title %} Member List{% endblock title %}

{% block stylesheet %}
	{{ block.super }}
	<link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Users <small>Some examples to get you started</small></h3>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Member's <small>List</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Account Id</th>
                    <th>Mobile Number</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Is Active</th>
                    <th>Status</th>
                    <th>Created By</th>
                    <th>Actions</th>
                  </tr>
                </thead>

                <tbody>
                  {% for mem in member %}
                  <tr>                    
                    <td><a href="/dashboard/member/{{mem.id}}/">{{mem.firstname}} {{mem.lastname}}</a> </td>
                    <td>{{mem.email}}</td>
                    <td>{{mem.account_id}}</td>
                    <td>{{mem.mobile}}</td>
                    <td>{{mem.address}}</td>
                    <td>{{mem.city}}</td>
                    <td>{{mem.is_active}}</td>
                    <td>{{mem.status}}</td>
                    <td>{{mem.created_by}}</td>
                    <td><a href="/dashboard/member/{{mem.id}}/edit/"><i class="fa fa-edit"></i> </a> | 
                      <a href="/dashboard/member/{{mem.id}}/delete/"><i class="close fa fa-trash"></i> </a></td>                    
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">
                Showing 1 to 10 of 57 entries
               </div>
              </div>

              {% if mb.has_other_pages %}
              <div class="col-sm-8">
                <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                  <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                      
                    {% if member.has_previous %}
                    <ul class="pagination">
                      {% if mb.has_previous %}
                        <li><a href="?page={{mb.previous_page_number}}"> &laquo;</a></li>
                      {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                      {% endif %}

                      {% for i in mb.paginator.page_range %}
                        {% if mb.number == i %}
                          <li class=""><span>{{i}} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                          <li><a href="?page={{i}}" aria-controls="datatable" data-dt-idx="0" tabindex="0">{{i}}</a></li>
                        {% endif %}
                      {% endfor %}
                      
                      {% if mb.has_next %}
                        <li><a href="?page={{mb.next_page_number}}" aria-controls="datatable" data-dt-idx="0" tabindex="0">&raquo;</a></li>
                      {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                      {% endif %}
                    </ul>
                    {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>

          </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
{{block.super}}
<script type="text/javascript">
    $('.close').click(function() {
    return confirm('Are You Sure ?')
  });
</script>
{% endblock javascripts %}