{% extends "admin/master.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" rol="main">
  <div class="page-title">
  	<div class="title-left">
  	  <h3>Micro Finance Shariah <small>to be more blessed in managing Islamic finance</small></h3>
  	</div>
  	<hr>
  	<div class="row tile_count">
  	  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
  	  	<span class="count_top">
  	  	  <a href=""><i class="fa fa-users fa-5x"></i> Members</a>
  	  	</span>
      </div>
  	  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
  	  	<span class="count_top">
  	  	  <a href=""><i class="fa fa-credit-card fa-5x"></i> Transactions</a>
  	  	</span>
      </div>
  	  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
  	  	<span class="count_top">
  	  	  <a href=""><i class="fa fa-table fa-5x"></i> Data Transactions</a>
  	  	</span>
      </div>
  	  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
  	  	<span class="count_top">
  	  	  <a href=""><i class="fa fa-bar-chart-o fa-5x"></i> Data Report</a>
  	  	</span>
      </div>

  	</div>
  </div>
</div>

<div class="clearfix"></div>

{% endblock content %}
