{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
{% block head %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>MF Shariah | {% block title %}{% endblock %}</title>

  <!-- Bootstrap -->
  <link href="{% static '/admin/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="{% static '/admin/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <!-- NProgress -->
  <link href="{% static '/admin/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
  <!-- bootstrap-daterangepicker -->
  <link href="{% static '/admin/vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
  <!-- iCheck -->
  <link href="{% static '/admin/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
  <!-- bootstrap-progressbar -->
  <link href="{% static '/admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
  <!-- JQVMap -->
  <link href="{% static '/admin/vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet"/>
  <!-- Custom Theme Style -->
  <link href="{% static '/admin/build/css/custom.css' %}" rel="stylesheet">

{% endblock head %}
</head>
<body class="{% block body_class %}nav-md{% endblock body_class %}">
  <div class="container body">
    <div class="main_container">
      {% block sidebar %}
      <div class="col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
        {% include "admin/sidebar.html" %}
      </div>
      {% endblock sidebar %}

      {% block top_navigation %}
      <div class="top_nav">
        {% include "admin/top_navigation.html" %}
      </div>
      {% endblock top_navigation %}

      {% block content %}
        <!-- {{ content }} -->
      {% endblock content %}


    </div>

    </div>
  </div>

  <!-- jQuery -->

{% block javascripts %}
{{block.super}}
  <script src="{% static '/admin/vendors/jquery/dist/jquery.min.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static '/admin/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <!-- FastClick -->
  <script src="{% static '/admin/vendors/fastclick/lib/fastclick.js' %}"></script>
  <!-- NProgress -->
  <script src="{% static '/admin/vendors/nprogress/nprogress.js' %}"></script>
  <!-- Chart.js -->
  <script src="{% static '/admin/vendors/Chart.js/dist/Chart.min.js' %}"></script>
  <!-- jQuery Sparklines -->
  <script src="{% static '/admin/vendors/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
  <!-- Flot -->
  <script src="{% static '/admin/vendors/Flot/jquery.flot.js' %}"></script>
  <script src="{% static '/admin/vendors/Flot/jquery.flot.pie.js' %}"></script>
  <script src="{% static '/admin/vendors/Flot/jquery.flot.time.js' %}"></script>
  <script src="{% static '/admin/vendors/Flot/jquery.flot.stack.js' %}"></script>
  <script src="{% static '/admin/vendors/Flot/jquery.flot.resize.js' %}"></script>
  <!-- Flot plugins -->
  <script src="{% static '/admin/vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
  <script src="{% static '/admin/vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
  <script src="{% static '/admin/vendors/flot.curvedlines/curvedLines.js' %}"></script>
  <!-- DateJS -->
  <script src="{% static '/admin/vendors/DateJS/build/date.js' %}"></script>
  <!-- bootstrap-daterangepicker -->
  <script src="{% static '/admin/vendors/moment/min/moment.min.js' %}"></script>
  <script src="{% static '/admin/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
  <script type='text/javascript' src="{% static '/admin/build/js/sharethis.js' %}" async='async'></script>
  <script type='text/javascript' src="{% static '/admin/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <!-- Custom Theme Scripts -->
  <script src="{% static '/admin/build/js/custom.js' %}"></script>

{% endblock javascripts %}
</body>
</html>