{% extends "admin/base.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <!-- Animate.css -->
  <link href="/static/admin/vendors/animate.css/animate.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <h1><i class="fa fa-money"></i> ~ Micro Finance Shariah ~ <i class="fa fa-money"></i></h1>
          <form method="POST">{% csrf_token %}
            <h1>Login Form</h1>
            
              {% for field in form.visible_fields %}
              
                  {{field}}
                  <br>
                  {% if field.help_text %}
                    <small style="color: grey;">{{field.help_text}}</small>
                  {% endif %}
                  {% for error in field.errors %}
                    <small style="color: red;">{{error}}</small> 
                  {% endfor %}
              
              {% endfor %}
            <hr>
            <div>
              <input type="submit" name="submit" class="btn btn-primary" value="Log in">
              <a class="reset_pass" href="#">Lost your password?</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              <p class="change_link">New to site?
                <a href="#signup" class="to_register"> Create Account </a>
              </p>

              <div class="clearfix"></div>
              <br />

              <div>

                <p>©2018 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
{% endblock body %}


<!-- 
<div>
              <input type="text" class="form-control" placeholder="Username" required="" />
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Password" required="" />
            </div>
-->
