{% extends 'admin/master.html' %}
{% load humanize %}
{% block title %} Loan List{% endblock title %}

{% block stylesheet %}
	{{ block.super }}
	<link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Users <small>Some examples to get you started</small></h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Loan's <small>List</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Member Id</th>
                    <th>Name</th>
                    <th>Credit Funds</th>
                    <th>Margin</th>
                    <th>Loan Period</th>
                    <th>Instalment</th>
                    <th>Margin Instalment</th>
                    <th>Total Instalment</th>
                    <th>Total Loan</th>
                    <th>Status</th>
                    <th>Approved By</th>
                    <th>Actions</th>
                    
                  </tr>
                </thead>

                <tbody>
                  {% for lo in loan %}
                  <tr>
                    
                    <td>{{lo.member_id}}</td>
                    <td>{{lo.member_id.firstname}} {{lo.member_id.lastname}}</td>                    
                    <td>{{lo.credit_funds}}</td>
                    <td>{{lo.margin}}</td>
                    <td>{{lo.loan_period}}</td>
                    <td>{{lo.instalment}}</td>                    
                    <td>{{lo.margin_instalment}}</td>
                    <td>{{lo.total_instalment}}</td>
                    <td>{{lo.total_loan}}</td>
                    <td>{{lo.status}}</td>
                    <td>{{lo.approved_by}}</td>
                    <td><a href=""><i class="fa fa-edit"></i> </a> | <a href=""><i class="fa fa-trash"></i> </a></td>
                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}