{% extends 'admin/master.html' %}
{% load humanize %}
{% block title %} Saving List{% endblock title %}

{% block stylesheet %}
	{{ block.super }}

{% endblock stylesheet %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Transaction Saving's <small>list member</small></h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Default Example <small>Users</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <p class="text-muted font-13 m-b-30">
                DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
              </p>
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Account ID</th>
                    <th>Name</th>
                    <th>Start Balance</th>
                    <th>Debit</th>
                    <th>End Balance</th>
                    <th>Created</th>
                    <th>Actions</th>
                  </tr>
                </thead>

                <tbody>
                  {% for sv in saving %}
                  <tr>
                  	
                    <td>{{sv.member_id.account_id}}</td>
                    <td>{{sv.member_id}}</td>
                    <td>{{sv.start_balance}}</td>
                    <td>{{sv.debit}}</td>
                    <td>{{sv.end_balance}}</td>
                    <td>{{sv.saving_date}}</td>
                    <td><a href=""><i class="fa fa-edit"></i> </a> | <a href=""><i class="fa fa-trash"></i> </a></td>
                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}