
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">Copyright &copy; <a href="#"mfshariah.com</a>. All Rights Reserved</p>
      <p class="rf">Design by <a target="_blank" href="http://www.rocketwebsitetemplates.com/">RocketWebsiteTemplates</a></p>
      <div class="clr"></div>
    </div>
  </div>
