  {% load staticfiles %}
<!-- banner -->
  <div class="banner">
    <div class="header">
      <div class="container">
        <div class="header-left">
          <div class="w3layouts-logo">
            <h1>
              <a href="index.html">Finance In</a>
            </h1>
          </div>
          <div class="agileinfo-phone">
            <p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +1 234 567 8901</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="top-nav">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a class="active" href="index.html">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li class="dropdown">
                    <a href="codes.html" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="icons.html">Icons</a></li>
                      <li><a href="codes.html">Short Codes</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                </ul> 
                <div class="clearfix"> </div>
              </div>  
            </nav>    
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="banner-info">
      <div class="container">
        <div class="w3-banner-info">
          <div class="slider">
            <div class="callbacks_container">
              <ul class="rslides callbacks callbacks1" id="slider4">
                <li>
                  <div class="w3layouts-banner-info">
                    <h3>Vivamus dui dolor</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et placerat leo, non condimentum justo.</p>
                    <div class="w3ls-button">
                      <a href="single.html">Read More</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="w3layouts-banner-info">
                    <h3>Donec quis dolor</h3>
                    <p>Fusce varius id lectus at cursus. Cras malesuada libero vitae semper lacinia. Ut dapibus, sem sed cursus</p>
                    <div class="w3ls-button">
                      <a href="single.html">Read More</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="clearfix"> </div>
                  <script>
                    // You can also use "$(window).load(function() {"
                    $(function () {
                      // Slideshow 4
                      $("#slider4").responsiveSlides({
                      auto: true,
                      pager:true,
                      nav:false,
                      speed: 400,
                      namespace: "callbacks",
                      before: function () {
                        $('.events').append("<li>before event fired.</li>");
                      },
                      after: function () {
                        $('.events').append("<li>after event fired.</li>");
                      }
                      });
                  
                    });
                   </script>
                  <!--banner Slider starts Here-->
          </div>
        </div>
        <div class="agileinfo-social-grids">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
            <li><a href="#"><i class="fa fa-vk"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- //banner -->