{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}

{% block body %}
{% include 'header.html' %}

<div class="sharethis-inline-share-buttons"><a href="">Share this</a></div>

{% include 'footer.html' %}
{% endblock body %}
